<h1>Recommended Reviews</h1>
<div class="ui stackable grid">
    <div class="eleven wide column">
        <span class="foodtruck-dropdown">Sort by
            <div class="ui inline dropdown">
                <i class="dropdown icon" style="color: black"></i>
                <div class="menu">
                    <div class="item">Date</div>
                    <div class="item">Rating</div>
                </div>
            </div>
        </span>
    </div>
    <div class="five wide column">
        <div class="right floated">
            <div class="ui labeled icon button" ng-click="foodtruck.reviewModal()">
                <i class="star icon"></i>
                Write a review
            </div>
        </div>
        <div class="ui modal" id="reviewModal">
            <div class="header">Review</div>
            <div class="content">
                <div class="ui form">
                    <div class="input">
                        <label>Title</label>
                        <input type="text" ng-model="titleReview">
                    </div>
                    <div class="field">
                        <label>Description</label>
                        <textarea rows="2" ng-model="descriptionReview"></textarea>
                    </div>
                    Overall Rating
                    <div class="ui medium star rating" data-rating="3" ng-model="ratingReview"></div>
                </div>
            </div>
            <div class="actions">
                <div class="ui approve button" ng-click="foodtruck.addReview(titleReview, descriptionReview)">Approve</div>
            </div>
        </div>
    </div>
</div>
    <div class="ui stackable grid" ng-repeat="review in foodtruck.reviews">
        <div class="two wide column">
            <div class="image">
                <img class="ui rounded tiny image" src="{{review.userId.facebook.photo}}">
            </div>
        </div>
        <div class="three wide column">
            <div class="ui list">
                <div class="item">{{review.userId.facebook.name}}</div>
                <div class="item">Elite '16</div>
                <div class="item">
                    <i class="users icon"></i>
                    <div class="content">0 friends</div>
                </div>
                <div class="item">
                    <i class="star icon"></i>
                    <div class="content">
                        1 reviews
                    </div>
                </div>
            </div>
        </div>
        <div class="eleven wide column">
            <div class="ui small star rating" data-rating="3"></div>{{review.date | date:longDate}}
            <div class="header">{{review.title}}</div>
            <p>{{review.description}}</p>
        </div>
    </div>