<div class="ui grid">
    <div class="sixteen wide column" id="userProfileHeader">
        <div class="image">
            <img class="ui small centered circular image" ng-src="{{profile.user[0].facebook.photo}}" alt="">
        </div>
        <h3 style="color: white">{{profile.user[0].facebook.name}}</h3>
    </div>
    <a class="active item eight wide column" style="text-align: center">REVIEWS</a>
    <a class="item eight wide column" style="text-align: center">FAVORITES</a>
    <div class="sixteen wide column">
        <div class="ui comments" ng-repeat="foodtruck in profile.review track by $index">
            <div class="comment">
                <div class="avatar"><img ng-src="{{foodtruck.photo}}"></div>
                <div class="content">
                    <a class="author">{{foodtruck.name}}</a>
                    <div class="text">{{foodtruck.reviews[$index].description}}</div>
                </div>
            </div>
        </div>
    </div>
</div>


