<div class="ui grid">
    <div class="sixteen wide column" id="userProfileHeader">
        <div class="image">
            <img class="ui small centered circular image" ng-src="{{profile.user[0].facebook.photo}}" alt="">
        </div>
        <h3 style="color: white">{{profile.user[0].facebook.name}}</h3>
    </div>
    <div class="sixteen wide column" style="padding: 0;">
        <div class="ui fluid two item borderless menu" id="userMenu">
            <div class="active item">REVIEWS</div>
            <div class="item" ng-click="profile.foodtrucksFavorite()">FAVORITES</div>
        </div>
    </div>
    <div class="sixteen wide column">
        <ui-view></ui-view>
        <div class="ui grid" ng-repeat="favoriteFoodtruck in profile.favoritesFoodtruck" style="margin-top: 5px">
            <div class="three wide column">
                <img class="ui large circular image" ng-src="{{favoriteFoodtruck.photo}}" alt="">
            </div>
            <div class="ten wide column">
                <div class="ui list">
                    <div class="item" ui-sref="home.foodtruck({id: favoriteFoodtruck._id})">
                        <div class="content">
                            <div class="header">
                                {{favoriteFoodtruck.name}}
                            </div>
                            {{favoriteFoodtruck.cuisine}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--{{profile.favoritesFoodtruck.name}}-->
        <!--{{profile.favoritesFoodtruck}}-->
        <!--<div class="ui comments" ng-repeat="foodtruck in profile.data">-->
            <!--<div class="comment">-->
                <!--<div class="avatar"><img ng-src="{{foodtruck.photo}}"></div>-->
                <!--<div class="content">-->
                    <!--{{foodtruck.foodtruckId}}-->
                    <!--<a class="author">{{foodtruck.name}}</a>-->
                    <!--<div class="text" ng-repeat="review in profile.foundReview">-->
                        <!--{{review.description}}-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>




