<div class="ui stackable grid">
    <div class="sixteen wide column"  style="padding-top: 60px">
        <h1 style="font-size: 40px; text-align: center; padding-bottom: 40px"><span style="color: #FF4447">Hello,</span> {{home.user.facebook.name}}</h1>
        <div class="ui grid">
            <div class="sixteen wide column" style="text-align: center">
                <i class="huge shipping icon" style="color: #FF4447"></i>
                <h3>Find your Food Truck</h3>
            </div>
            <div class="sixteen wide column" style="text-align: center">
                <i class="huge pencil icon" style="color: #FF4447"></i>
                <h3>Rate and Review</h3>
            </div>
            <div class="sixteen wide column" style="text-align: center">
                <i class="huge star icon" style="color: #FF4447"></i>
                <h3>Add to Your Favorites</h3>
            </div>
            <div class="sixteen wide column" style="text-align: center">
                <i class="huge comment icon" style="color: #FF4447"></i>
                <h3>Receive Notifications</h3>
            </div>
        </div>
    </div>
</div>