<div class="ui stackable grid">
    <div class="sixteen wide column"  style="padding-top: 60px">
        <h1 style="font-size: 40px">Hello, {{profile.user[0].facebook.name}}</h1>
        <div class="ui list">
            <div class="item" style="font-size: 20px">1. Explore our map to find awesome food!</div>
            <div class="item" style="font-size: 20px">2. Add some of your favorite food trucks to your profile!</div>
            <div class="item" style="font-size: 20px">3. Write a review to the food truck!</div>
            <div class="item" style="font-size: 20px">4. Spread the site to your love one!</div>
        </div>
    </div>
</div>