<div class="ui left wide sidebar ui segment" id="sidemenu">
    <div class="fluid container">
        <!--<user ng-show="sideDisplay=='user'"></user>-->
        <!--<foodtruck ng-show="sideDisplay=='foodtruck'"></foodtruck>-->
        <ui-view></ui-view>
    </div>
</div>

<div id="homeMap"></div>
<div class="ui large vertical menu" id="splash-menu">
    <div class="disabled item" ui-sref="home">
        <h2>Forage</h2>
    </div>
    <div class="item" ng-click="home.loginModal()" ng-hide="home.user">SIGN IN</div>
    <!--this is for the facebook user-->
    <!--ng-click="home.openSideBar();sideDisplay='user'"-->
    <div class="item" ui-sref="home.profile({id: home.user._id})" ng-hide="home.user === undefined" ng-click="home.openSideBar()" >
        <img class="ui avatar image" ng-src="{{home.user.facebook.photo}}" alt="">
        {{home.user.facebook.name}}
    </div>
    <div class="item" ui-sref="ftsignup.about" ng-hide="home.user === undefined">BECOME A FOOD TRUCK OWNER</div>
    <!--this is for the footruck user-->
    <!--ng-click="home.openSideBar(); sideDisplay='foodtruck'"-->
    <div class="item" ng-click="home.openSideBar()" ng-show="home.user.foodTruck" ui-sref="home.foodtruck({id: home.user.foodTruck})">
        <img class="ui avatar image" ng-src="{{home.openTruck.photo}}">
        {{home.openTruck.name}}
    </div>
    <div class="item" ng-click="home.initLocation()">CURRENT LOCATION</div>
    <div class="item">DAILY SPECIALS</div>
    <div class="item">START YOUR ORDER</div>
    <div class="item">FAVORITES</div>
    <a class="item" href="/auth/logout" ng-hide="home.user === undefined">LOG OUT</a>
</div>
    <!--<div class="ui large vertical menu" ng-show="showme">-->
        <!--<div class="disabled item">-->
            <!--<h2>Forage</h2>-->
        <!--</div>-->
        <!--<div class="item" ng-click="home.loginModal()" ng-hide="home.user">SIGN IN</div>-->
        <!--<div class="item">-->
            <!--<img class="ui avatar image" ng-src="{{home.user.facebook.photo}}" alt="">-->
        <!--</div>-->
        <!--<div class="item" ng-click="home.initLocation()">DAILY SPECIALS</div>-->
        <!--<div class="item">START YOUR ORDER</div>-->
        <!--<div class="item">FAVORITES</div>-->
    <!--</div>-->
<div class="ui small modal" id="loginModal">
    <i class="close icon"></i>
    <div class="header">Sign in to your Forage account.</div>
    <div class="content">
        <div class="ui basic segment" id="signupModalContent">
            <div class="ui form">
                <div class="field">
                    <div class="ui input">
                        <input type="text" placeholder="Email">
                    </div>
                </div>
                <div class="field">
                    <div class="ui input">
                        <input type="password" placeholder="Password">
                    </div>
                </div>
                <div class="ui blue submit button" id="signinBtn">Sign in</div>
                <div class="signupSection">
                    <label>Don't have an account? </label> <a ui-sref="signup">Sign up</a>
                </div>
            </div>
            <div class="ui horizontal divider">
                Or
            </div>
            <div class="center aligned column" style="text-align: center">
                <a class="ui facebook button" href="/auth/facebook" ng-click="home.logFoodtruck()">
                    <i class="facebook icon"></i>
                    Sign in with Facebook
                </a>
            </div>
        </div>
    </div>
</div>
