<div class="ui stackable grid">
    <div class="four wide column" id="routingSide">
        <ui-view></ui-view>
    </div>
    <div class="twelve wide column" id="mapSide">
        <div id="homeMap"></div>
        <div class="ui vertical compact menu" id="splash-menu">
            <div class="item" ng-click="home.loginModal()" ng-hide="home.user">SIGN IN</div>
            <!--this is for the facebook user-->
            <!--ng-click="home.openSideBar();sideDisplay='user'"-->
            <div class="item" ui-sref="home.profile({id: home.user._id})" ng-hide="home.user === undefined" ng-click="home.openSideBar()" >
                <img class="ui avatar image" ng-src="{{home.user.facebook.photo}}" alt="">
                {{home.user.facebook.name}}
            </div>
            <div class="item" ui-sref="foodtrucksignup" ng-hide="home.user === undefined || home.user.foodTruck">BECOME A FOOD TRUCK OWNER</div>
            <!--this is for the footruck user-->
            <!--ng-click="home.openSideBar(); sideDisplay='foodtruck'"-->
            <div class="item" ng-click="home.openSideBar()" ng-show="home.user.foodTruck" ui-sref="home.foodtruck({id: home.user.foodTruck})">
                <img class="ui avatar image" ng-src="{{home.openTruck.photo}}">
                {{home.openTruck.name}}
            </div>
            <div class="item">FAVORITES</div>
            <div class="item"  ng-hide="home.user === undefined">
                <a href="/auth/logout">LOG OUT</a></div>
        </div>
    </div>
</div>
<div class="ui small modal" id="loginModal">
    <i class="close icon"></i>
    <div class="header" style="color: white; background-color: #00ACED">Sign in to your Forage account.</div>
    <div class="content">
        <div class="ui basic segment" id="signupModalContent">
            <div class="ui form">
                <div class="field">
                    <div class="ui input">
                        <input type="text" placeholder="Email">
                    </div>
                </div>
                <div class="field">
                    <div class="ui input">
                        <input type="password" placeholder="Password">
                    </div>
                </div>
                <div class="ui submit button" style="background-color: #00ACED; color:white; margin-bottom: 10px" id="signinBtn">Sign in</div>
                <div class="signupSection">
                    <label>Don't have an account? </label> <a ui-sref="signup">Sign up</a>
                </div>
            </div>
            <div class="ui horizontal divider">
                Or
            </div>
            <a class="ui facebook button" href="/auth/facebook" ng-click="home.logFoodtruck()">
                <i class="facebook icon"></i>
                Sign in with Facebook
            </a>
        </div>
    </div>
</div>
