<div class="ui grid" ng-repeat="review in profile.user[0].reviews">
    <div class="three wide column">
        <img class="ui large circular image" ng-src="{{review.photo}}" alt="">
    </div>
    <div class="ten wide column">
        <div class="ui list">
            <div class="item" ui-sref="home.foodtruck({id: review.foodtruckId})">
                <div class="content">
                    <div class="header">{{review.name}}</div>
                    <div class="ui star rating" data-rating="3"></div>
                    {{review.description}}
                </div>
            </div>
        </div>
    </div>
</div>
