<div class="ui secondary menu" id="topNavBar">
        <div class="header item" id="topNavHeader" ui-sref="home"><i class="food icon"></i>FORAGE</div>
        <div class="right menu">
            <div class="item" id="navbarCurrentUser" ng-hide="showme">
                <img class="ui mini rounded image" id="navbarPhoto" ng-src="{{topNavBar.user.facebook.photo}}">
                <div class="ui top right pointing dropdown" id="navbar-dropdown" ng-hide="topNavBar.user === undefined">
                    <a class="profileName" ui-sref="profile({id: topNavBar.user._id})">
                        {{topNavBar.user.facebook.name}}
                    </a>
                    <div class="text" ng-click="topNavBar.dropDown()">
                        <i class="dropdown icon" id="dropdownIcon"></i>
                    </div>
                    <div class="menu">
                        <div class="item" ui-sref="ftsignup.about" ng-hide="topNavBar.user.foodTruck">Become a Food truck owner</div>
                        <div class="item" ng-show="topNavBar.user.foodTruck" ui-sref="foodtruck({id: topNavBar.user.foodTruck})" ng-click="showme=true">
                            <img class="ui mini rounded image" ng-src="{{topNavBar.foodtruckUser[0].photo}}">
                            {{topNavBar.foodtruckUser[0].name}}</div>
                        <div class="divider"></div>
                        <div class="item">Settings</div>
                        <div class="divider"></div>
                        <a class="item" href="/auth/logout">Log Out</a>
                    </div>
                </div>
            </div>
            <div class="item" id="navbarCurrentFoodtruckUser" ng-show="showme">
                <img class="ui mini rounded image" id="navbarFoodtruckPhoto" ng-src="{{topNavBar.foodtruckUser[0].photo}}">
                <div class="ui top right pointing dropdown" id="navbar-foodTruck-dropdown" ng-hide="topNavBar.foodtruckUser === undefined">
                    <a class="profileName" ui-sref="foodtruck.reviews({id: topNavBar.user.foodTruck})">
                        {{topNavBar.foodtruckUser[0].name}}
                    </a>
                    <div class="text" ng-click="topNavBar.dropDown()">
                        <i class="dropdown icon"></i>
                    </div>
                    <div class="menu">
                        <div class="item" ui-sref="ftsignup.about" ng-hide="topNavBar.user.foodTruck">Become a Food truck owner</div>
                        <div class="item" ng-show="topNavBar.user.foodTruck" ui-sref="profile({id: topNavBar.user._id})" ng-click="showme=false">
                            <img class="ui mini rounded image" ng-src="{{topNavBar.user.facebook.photo}}">
                            {{topNavBar.user.facebook.name}}</div>
                        <div class="divider"></div>
                        <a class="item" ui-sref="foodtrucksettings({id: topNavBar.foodtruckUser[0]._id})">Settings</a>
                        <div class="divider"></div>
                        <a class="item" href="/auth/logout">Log Out</a>
                    </div>
                </div>
            </div>
            <div class="item" ng-click="topNavBar.loginModal()" id="navbarSignin" ng-hide="topNavBar.user">SIGN IN</div>
            <div class="ui small modal" id="loginModal">
                <i class="close icon"></i>
                <div class="header">Sign in to your Forage account.</div>
                <div class="content">
                    <div class="ui basic segment" id="signupModalContent">
                        <div class="ui form">
                            <div class="field">
                                <div class="ui input">
                                    <input type="text" placeholder="Email">
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui input">
                                    <input type="password" placeholder="Password">
                                </div>
                            </div>
                            <div class="ui blue submit button" id="signinBtn">Sign in</div>
                            <div class="signupSection">
                                <label>Don't have an account? </label> <a ui-sref="signup">Sign up</a>
                            </div>
                        </div>
                        <div class="ui horizontal divider">
                            Or
                        </div>
                        <div class="center aligned column" style="text-align: center">
                            <a class="ui facebook button" href="/auth/facebook" ng-click="topNavBar.gettingCurrentMap()">
                                <i class="facebook icon"></i>
                                Sign in with Facebook
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
