<div class="ui fluid card" id="signupCard">
    <div class="content">
        <div class="header">
            Set up
        </div>
    </div>
    <div class="content" id="signupCardContent">
        <div class="ui fluid steps">
            <div class="completed step">
                <i class="truck icon"></i>
                <div class="content">
                    <div class="title">About</div>
                    <div class="description">Let the people know about your Food truck</div>
                </div>
            </div>
            <div class="active step">
                <i class="photo icon"></i>
                <div class="content">
                    <div class="title">Profile Picture</div>
                    <div class="description">Let the people know what your food truck look like</div>
                </div>
            </div>
            <div class="disabled step">
                <i class="info icon"></i>
                <div class="content">
                    <div class="title">Confirm Order</div>
                </div>
            </div>
        </div>
    </div>
    <div class="content" style="height: 200px">
        <div class="ui grid">
            <div class="four wide column"></div>
            <div class="four wide column" ng-hide="webpic" style="text-align: center">
                <img class="ui small rounded image" src="https://cdn0.vox-cdn.com/images/verge/default-avatar.v9899025.gif">
            </div>
            <div class="four wide column" ng-hide="webpic">
                <div class="ui two column middle aligned very relaxed stackable grid" >
                    <div class="center aligned column">
                        Upload From Computer
                    </div>
                    <div class="ui vertical divider">or</div>
                    <div class="center aligned column">
                        <a ng-click="webpic = !webpic">Import From Website</a>
                    </div>
                </div>
            </div>
            <div class="four wide column" ng-show="webpic = webpic" style="text-align: center">
                <img class="ui small rounded image" src="https://cdn0.vox-cdn.com/images/verge/default-avatar.v9899025.gif" ng-hide="profilePic">
                <img class="ui small rounded image" ng-src="{{foodtruck.user.photo}}" ng-show="profilePic">
            </div>
            <div class="six wide column" ng-show="webpic = webpic" style="margin-top: 22px">
                <div class="ui form">
                    <div class="field">
                        <label>We'll import images from your website and you can choose one to represent your Page.</label>
                        <div class="ui input">
                            <input type="text" placeholder="http://" ng-model="foodtruck.user.photo">
                            <button class="ui button" ng-click="profilePic = !profilePic">Import</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="extra content">
        <button class="ui button" ui-sref="ftsignup.about">Back</button>
        <span class="right floated">
            <button class="ui button" ui-sref="ftsignup.confirm">Next</button>
        </span>
    </div>
</div>